<!DOCTYPE html>
<html lang="en">
{% comment %}<meta http-equiv="refresh" content="5" />{% endcomment %}
<head>
    <meta charset="UTF-8">
    <title>Create HTTP Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div align="center" style="margin-top: 10%;">

    <form method="post" target="_blank">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="New HTTP request" class="btn btn-sm btn-info submit-msg">
    </form>

<br>

    <div class="row no-gutters" style="margin-left: 11%;">

        <div class="card" style="width: 18rem;">
          <div  class="card-body">
            <h5 class="card-title">Process 1</h5>
            <h6 class="card-subtitle mb-2 text-muted">RAM usage : 250 MB </h6>
            <h6 class="card-subtitle mb-2 text-muted">Time usage : 10 sec </h6>

          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div  class="card-body">
            <h5 class="card-title">Process 2</h5>
            <h6 class="card-subtitle mb-2 text-muted">RAM usage : 500 MB </h6>
            <h6 class="card-subtitle mb-2 text-muted">Time usage : 25 sec </h6>

          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div  class="card-body">
            <h5 class="card-title">Process 3</h5>
            <h6 class="card-subtitle mb-2 text-muted">RAM usage : 750 MB </h6>
            <h6 class="card-subtitle mb-2 text-muted">Time usage : 50 sec </h6>

          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div  class="card-body">
            <h5 class="card-title">Process 4</h5>
            <h6 class="card-subtitle mb-2 text-muted">RAM usage : 1 GB </h6>
            <h6 class="card-subtitle mb-2 text-muted">Time usage : 100 sec </h6>

          </div>
        </div>

    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>