<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="5" />
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div align="center" style="margin-top: 10%;">
    <a href="{% url 'servers:leastConnections' %}" target="_blank"><button class="btn btn-sm btn-info submit-msg" type="submit">Least Connections dispathcer</button></a>
    <a href="{% url 'servers:roundRobin' %}" target="_blank"><button class="btn btn-sm btn-info submit-msg" type="submit">Round Robin dispathcer</button></a>
</div>

<br>

    <div class="row no-gutters" style="margin-left: 20%;">
    {% for server in servers %}
        <div class="card" style="width: 18rem;">
          <div  class="card-body">
            <h5 class="card-title">{{ server.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">RAM usage : {{ server.ram_used }} / {{ server.ram }}</h6>
            {% comment %}<a href="{% url 'servers:scaleUp' server.pk %}" >&#x25B2;</a>
            <a href="{% url 'servers:scaleDown' server.pk %}" >&#x25BC;</a>{% endcomment %}
            <p class="card-text">Running Processes : {{ server.run_processes }}</p>
            <p class="card-text">Waiting Processes : {{ server.wait_processes }}</p>
          </div>
        </div>
    {% endfor %}
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>